.logo {
  width: 1140px;
  margin: 0 auto;
}

.loginReg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 310px;
  background-color: #fff;
}

.title {
  height: 60px;
  background: url('../images/login_title.png') no-repeat center;
}

#loginBox {
  padding: 0 30px;
}

#regBox {
  padding: 0 30px;
  display: none;
}

.aLinks {
   display: flex;
   justify-content: flex-end;
}

.layui-form-item {
  position: relative;
}

.loginReg i {
  position: absolute;
  top: 10px;
  left: 10px
}

.loginReg input {
  padding-left: 35px
}